.brides_header
  %h1.brides_header__title НАШИ НЕВЕСТЫ
  .publications_index__item
  .brides_message
    В приватных беседах с нашими гостями мы уловили одну тенденцию. Красиво одеваться, независимо от повода, хочет каждая женщина. Однако просто "одеться красиво" - это только половина мечты.
.brides__container
  - @brides.each_with_index do |b, i|
    = render partial: 'bride_item', locals: {bride: b}
    - if i == 5
      = render 'banners/subscribe_banner'
      = render 'add_bride_item'

  - if @brides.size < 6
    = render 'add_bride_item'
    = render 'banners/subscribe_banner'

  .navigation_publication
    = will_paginate @brides, previous_label: 'ОБРАТНО', next_label: 'ДАЛЬШЕ'
= render 'layouts/footer_contacts'

:javascript
  var h;
  $(window).bind("load", function() {
    h = $('.bride_item').first().height();
    $('.add_bride').height(h*0.994);
  });
