= semantic_form_for [:admin,@publication], url: admin_publications_path, method: :post do |f|
  = f.semantic_errors *f.object.errors.keys
  =f.inputs 'Title' do
    = f.input :title, label: false
  =f.inputs 'Body' do
    = f.input :body, as: :ckeditor, label: false
  =f.inputs 'Short body' do
    = f.input :short_body, label: false
  = f.inputs 'Images' do
    = f.fields_for :image  do |image|
      = image.file_field :name, multiple: :true, name: 'publication[image][name][]'
  = f.inputs 'SEO' do
    = f.input :seo_title, label: 'SEO Title'
    = f.input :seo_description, label: 'SEO Description'
    = f.input :seo_keywords, label: 'SEO Keywords'
  = f.actions

