.publications__title
  %h1 Мы о моде и мода о нас
  .publications_index__item
  .publications_index__text
    Постоянные изменения и обновления, (не говоря уже о новых коллекциях), помогают нам оставаться молодой, не устающей компанией. Нам всегда есть что рассказать — следите за новостями и публикациями о Topaza Pella.
.publications_index
  .show_publication
    - @publications.each_with_index do |publication, index|
      = link_to publication_path(publication) do
        .show_publication_item
          .show_publication__left
            = image_tag publication.images.main.name_url(:p_index)
          .show_publication__right
            .show_publication__right__date
              .middle_line
              = Russian::strftime(publication.created_at, '%B %Y')
              .middle_line
            .show_publication__right__title
              = publication.title
              .publication_underline
            .show_publication__right__body
              = publication.short_body
          .clearfix
      - if index == 1
        = render 'banners/subscribe_banner'
  .navigation_publication
    = will_paginate @publications, previous_label: 'ОБРАТНО', next_label: 'ДАЛЬШЕ'

= render 'layouts/footer_contacts'
