.show_publication
  .show_publication__left
    - @publication.images.each do |image|
      = image_tag image.name.url(:p_show)
  .show_publication__right
    .show_publication__right__date
      .middle_line
      = Russian::strftime(@publication.created_at, '%B %Y')
      .middle_line
    .show_publication__right__title
      = @publication.title
      .publication_underline
    .show_publication__right__body
      = @publication.body.html_safe
  .clearfix
.navigation_publication
  .navigation_publication__left
    = link_to 'ВСЕ ПУБЛИКАЦИИ ', publications_path
  .navigation_publication__right
    .navigation_publication__right__wrapper
      .navigation_publication__right__wrapper__prev
        - if @prev_publication.present?
          = link_to 'ПРЕДЫДУЩАЯ СТАТЬЯ', publication_path(@prev_publication)
        - else
          ПРЕДЫДУЩАЯ СТАТЬЯ
      .navigation_publication__right__wrapper__next
        - if @next_publication.present?
          = link_to 'СЛЕДУЮЩАЯ СТАТЬЯ', publication_path(@next_publication)
        - else
          СЛЕДУЮЩАЯ СТАТЬЯ

:javascript
  $(window).bind("load", function() {
    var $bgobj = $('.show_publication__left')
    var lheight = $bgobj.height()
    var rheight = $('.show_publication__right').height()
    console.log(lheight)
    console.log(rheight)
    if (lheight > rheight) {
      $('.show_publication').height(lheight)
    }
    else{
      var h = $('.header_container').height()
      $(window).scroll(function() {
        var yPos = ($(window).scrollTop() * (rheight-lheight)/($(document).height() - $(window).height()) );
        var coords = yPos + 'px';
        $bgobj.css({ top: coords });
      });
    }
  });
