.container
  .p_container
    .p_left
      - @publication.images.each do |image|
        = image_tag image.name.url(:p_show)
    .p_right
      %p
        %b Title:
        = @publication.title
      %p
        %b Body:
        = raw(@publication.body)

      %p
        = sanitize @publication.short_body

= link_to 'Back', publications_path
