.body__header
  .body__header__text
    .body__header__year
      .body__header__year__middle_line
      2014
      .body__header__year__middle_line
    .body__header__text__title
      НОВАЯ КОЛЛЕКЦИЯ
      %br
      СВАДЕБНЫХ ПЛАТЬЕВ
    .body__header__middle_line
.body__dresses
  = link_to bridal_dresses_path do
    .body__dresses__item__image__bridal
      = image_tag Category.first.picture.url(:category)
      .body__dresses__item__image__bridal__count
        = @dress_bridal_count
      .body__dresses__item__image__bridal__text
        = t('dresses', :count => @dress_bridal_count)
  .body__dresses__item
    .body__dresses__item__bridal__wrapper
      .body__dresses__item__bridal
        = link_to bridal_dresses_path do
          .body__dresses__item__title
            СВАДЕБНЫЕ ПЛАТЬЯ
    .body__dresses__item__center-block
      .body__dresses__item__center-block__middle-line
      = image_tag 'AND_для_категорий.png'
      .body__dresses__item__center-block__middle-line
    .body__dresses__item__evening__wrapper
      .body__dresses__item__evening
        = link_to evening_dresses_path do
          .body__dresses__item__title
            ВЕЧЕРНИЕ ПЛАТЬЯ
  = link_to evening_dresses_path do
    .body__dresses__item__image__evening
      = image_tag Category.offset(1).first.picture.url(:category)
      .body__dresses__item__image__evening__count
        = @dress_evening_count
      .body__dresses__item__image__evening__text
        = t('dresses', :count => @dress_evening_count)
.body__histories
  .body__histories__left
    .body__histories__left__title
      .body__histories__item__title__years
        .body__histories__item__title__years__middle_line
        1996-2014
        .body__histories__item__title__years__middle_line
      .body__histories__item__title__text
        ИСТОРИЯ
        %br
        TOPAZA PELLA
        //.body__histories__item__title__middle_line
        %hr{:align => 'center', :width => '297'}
    .body__histories__item__text
      О том, с чего начинали, к чему сремимся, и о том, как день за днём мы приближаемся к невозможному - идеальному свадебному платью.
  .body__histories__right
    = image_tag 'истории_главная2.png'
    = render 'partials/girl'
    //.body__histories__right__girl
    //  = image_tag 'тетка_для_вешалки.png'
    //.body__histories__right__girl__hanger
    //  = image_tag 'вешалка.png'
    //.body__histories__right__girl__count
    //  5
  //.body__histories__item
  //  = image_tag DressConsist.where(property: 'Material').first.picture.url
.body__text
  ПЛАТЬЕ TOPAZA PELLA ПОМОЖЕТ СОЗДАТЬ ОБРАЗ,
  %br
  КОТОРЫЙ ВЫ ДАВНО ДЛЯ СЕБЯ ЗАГАДАЛИ
.body__collections
  - Dress.first(3).each do |d|
    .body__collections__item
      .body__collections__items__image_container
        = image_tag d.images.where(main:true).first.name.url(:dress_small)
        .body__collections__item__name
          = d.title
        .body__collections__item__underline
        .body__collections__item__to_fitting
          = d.category.title
    //.body__collections__item
    //  = image_tag d.images.where(main:true).first.name.url
    //  .body__collections__item__info
    //    .body__collections__item__info__bordered
    //      .body__collections__item__name
    //        = d.title
    //      .publications_index__item
    //      .body__collections__item__dress_name
    //        = d.title
.main_page__body__discount
  .main_page__body__discount__image-left{:style => ('bottom: 177px' if controller_name=='discounts')}
    = image_tag 'мал_роза_главная_баннер.png'
  .main_page__body__discount__text
    .main_page__body__discount__text__title
      .main_page__body__discount__text__title__middle_line
      10%
      .main_page__body__discount__text__title__middle_line
    .main_page__body__discount__text__body{style: 'line-height:normal'}
      Модели в нашем онлайн-магазине дешевле на 10% процентов.
    .main_page__index_discounts-item-right-link
      = link_to 'ОНЛАЙН-МАГАЗИН', '#'
  .main_page__body__discount__image-right
    = image_tag 'роза_главная_баннер.png'

/- @banners.each do |banner|
/  = render 'banners/show', banner: banner
.body__article
  .body__article__left
    = image_tag 'платья_публикации.png'
  .body__article__right
    .body__article__right__title
      .body__article__right__title__name
        .body__article__right__title__name__middle_line
        СТАТЬЯ
        .body__article__right__title__name__middle_line
      .body__article__right__title__text
        ИДЕАЛЬНОЕ ПЛАТЬЕ ДЛЯ ВАШЕЙ ФИГУРЫ
        .body__histories__item__title__middle_line
    .body__article__right__text
      Наши эксперты подскажут как подобрать платье вашей мечты под любой тип фигуры.
.body__text.home__brides
  .body__discount__title__years__middle_line
  НЕВЕСТЫ
  .body__discount__title__years__middle_line
.brides__container.home__brides__container
  .brides_container__before_banner
    - Bride.first(3).each do |b|
      .bride_item
        .bride_item__image_container
          = image_tag b.picture_url(:thumb)
          .bride_item__info
            .birde_item__name
              = b.name
            .publications_index__item
            .birde_item__dress_name
              = b.dress_name
          .bride_item__comment
            = b.comment
      //= render partial: 'brides/bride_item', locals: {bride: b}
