%div#root_page
  Это стартовая страница проекта TOPAZA
.body__header
  .body__header__text
    .body__header__year
      .body__header__year__middle_line
      2014
      .body__header__year__middle_line
    НОВАЯ КОЛЛЕКЦИЯ
    %br
    СВАДЕБНЫХ ПЛАТЬЕВ
  .body__header__middle_line
.body__dresses
  .body__dresses__item
    = image_tag Dress.find(20).images.first.name.url
  .body__dresses__item
    .body__dresses__item__title-top
      СВАДЕБНЫЕ
      %br
      ПЛАТЬЯ
    .body__dresses__item__center-block
      .body__dresses__item__center-block__middle-line
      AND
      .body__dresses__item__center-block__middle-line
    .body__dresses__item__title-bottom
      ВЕЧЕРНИЕ
      %br
      ПЛАТЬЯ
  .body__dresses__item
    = image_tag Dress.find(20).images.first.name.url
.body__histories
  .body__histories__item
    .body__histories__item__title
      .body__histories__item__title__years
        .body__histories__item__title__years__middle_line
        2012-2014
        .body__histories__item__title__years__middle_line
      .body__histories__item__title__text
        ИСТОРИЯ
        %br
        TOPAZA PELLA
        .body__histories__item__title__middle_line
    .body__histories__item__text
      О том, с чего начинали, к чему сремимся, и о том, как день за днём мы приближаемся к невозможному - идеальному свадебному платью.
  .body__histories__item
    = image_tag Dress.find(20).images.first.name.url
  .body__histories__item
    = image_tag Dress.find(20).images.first.name.url
.body__text
  ПЛАТЬЕ TOPAZA PELLA ПОМОЖЕТ СОЗДАТЬ ОБРАЗ,
  %br
  КОТОРЫЙ ВЫ ДАВНО ДЛЯ СЕБЯ ЗАГАДАЛИ
.body__collections
  - Dress.first(3).each do |d|
    .body__collections__item
      = image_tag d.images.where(main:true).first.name.url
      .body__collections__item__info
        .body__collections__item__info__bordered
          .body__collections__item__name
            = d.title
          .publications_index__item
          .body__collections__item__dress_name
            = d.title
.body__discount
  .body__discount__title
    .body__discount__title__years
      .body__discount__title__years__middle_line
      10%
      .body__discount__title__years__middle_line
    .body__discount__title__text
      Модели в нашем онлайн-магазине
      %br
      дешевле на 10% процентов.
    .index_discounts-item-right-link
      = link_to Discount.first.button_name, Discount.first.button_url
.body__article
  .body__article__text
    .body__article__text__title
      .body__article__text__title__name
        .body__article__text__title__name__middle_line
        СТАТЬЯ
        .body__article__text__title__name__middle_line
      .body__article__text__title__text
        ИСТОРИЯ
        %br
        TOPAZA PELLA
        .body__article__text__title__middle_line
    .body__article__text__text
      О том, с чего начинали, к чему сремимся, и о том, как день за днём мы приближаемся к невозможному - идеальному свадебному платью.