= semantic_form_for [:admin, @category]  do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs 'Title' do
    = f.input :title, label: false
  = f.inputs 'Picture' do
    = f.input :picture, as: :file, label: false
    - if @category.present?
      = image_tag(@category.picture.url(:dress_consist))
  = f.actions

