- title 'Скидки на свадебные платья Topaza Pella (Топаза Пелла) в Санкт-Петербурге. Купить свадебное платье со скидкой в Спб'
.index_discounts-header
  .index_discounts-header-title
    Акции и специальные цены
  .index_discounts-header-middle_line
  .index_discounts-header-text
    Особенными могут быть не только наши платья, но и предложения. Возможно, это ваш счастливый случай.
- @discounts.each_with_index do |discount, i|
  .index_discounts-item
    = image_tag discount.picture.url(:discount)
    .index_discounts-item-right
      .index_discounts-item-right-header
        .middle_line
        АКЦИЯ
        .middle_line
      .index_discounts-item-right-title
        = discount.title
      .index_discounts-header-middle_line
      .index_discounts-item-right-body
        = discount.body
      .index_discounts-item-right-link
        = link_to discount.button_name, discount.button_url
  - if i == 1
    - @banners.each do |banner|
      = render 'banners/show', banner: banner

= render 'layouts/footer_contacts'
