.index_discounts-header
  .index_discounts-header-title
    СКИДКИ
  .index_discounts-header-middle_line
  .index_discounts-header-text
    В приватных беседах с нашими гостями мы уловили одну тенденцию. Красиво одеваться, независимо от повода, хочет каждая женщина. Однако просто "одеться красиво" - это только половина мечты.
- @discounts.each_with_index do |discount, i|
  .index_discounts-item
    = image_tag discount.picture.url(:discount)
    .index_discounts-item-right
      .index_discounts-item-right-title
        .middle_line
        = discount.title
        .middle_line
      .index_discounts-item-right-body
        = discount.body
      .index_discounts-item-right-link
        = link_to discount.button_name, discount.button_url
  - if i == 1
    - @banners.each do |banner|
      = render 'admin/banners/show', banner: banner
