.dress_index
  - @dresses.each_with_index do |dress, i|
    = render 'dress_item', dress: dress
    - if i == 0
      = render 'first_bridal_info_block', dress: dress
    - if i == 4
      = render 'second_bridal_info_block', dress: dress
    - if i == 6
      - @banners.each do |banner|
        = render 'banners/show', banner: banner
    - if i == 11
      = render 'third_bridal_info_block', dress: dress
= render 'partials/girl'
:javascript
  var h;
  $(window).bind("load", function() {
    h = $('.dress_item').first().height();
    if (h < 596){
      $('.dresses_info_block').height(h);
      $('.info_block__gem').css('paddingTop', 0)
    }
  });

