.dress_index
  - @dresses.each_with_index do |dress, i|
    = render 'dress_item', dress: dress
    - if i == 0
      = render 'first_evening_info_block', dress: dress
    - if i == 4
      = render 'second_evening_info_block', dress: dress
    - if i == 6
      - @banners.each do |banner|
        = render 'banners/show', banner: banner
    - if i == 11
      = render 'third_evening_info_block', dress: dress
//= render 'partials/girl'
= render 'layouts/footer_contacts'
