.show_dress
  .show_dress__left.js-left-column
    .show_dress__left__title
      = @dress.title
    .middle_line_dress
    .show_dress__left
      .show_dress__left__body
        = @dress.body
      - @dress.dress_consists.each do |dress_consist|
        .show_dress__left__dress_consist
          = image_tag dress_consist.picture.url(:dress_consist)
          .show_dress__left__dress_consist__title
            = dress_consist.title
    - @dress.images.each do |image|
      .show_dress__left__image.js-clickable-dress-img{data: {src: image.name.url(:dress_large)}}
        = image_tag image.name.url(:dress_small)
  .show_dress__right.js-big-dress{style: "height: #{@dress.images.size*678+consists_height(@dress)}px; background-image: url(#{@dress.images.first.name_url(:dress_large)});" }
  .clearfix
.navigation_dress
  .navigation_dress__left
    = link_to 'ВСЕ ПЛАТЬЯ ', dresses_path
  .navigation_dress__right
    .navigation_dress__right__wrapper
      .prev
        - if @prev_dress.present?
          = link_to '<', dress_path(@prev_dress)
        - else
          <
      .image
        = link_to '#', {class: 'js_to_fitting', data: { id: @dress.id, image_src: @dress.images.first.name_url(:dress_small) }} do
          = image_tag 'наведение_на_платье.png'
      .next
        - if @next_dress.present?
          = link_to '>', dress_path(@next_dress)
        - else
          >

//= render 'partials/girl'
= render 'layouts/footer_contacts'
:javascript
  var pagination = $('.pagination');
  pagination.find('a:not(.next_page)').remove();
  pagination.find('.current').remove();
  pagination.append('<a href="#"><img src="/assets/наведение_на_платье.png" /></a>');

  $(window).bind("load", function() {
    var $bgobj = $('.js-big-dress'); // создаем объект
    var m = $bgobj.width()/$(document).width()*100
    var h = $('.header').height()
    var footer = $(document).height() - ($('.js-left-column').height() + $('.header').height())
    $bgobj.css('backround-size', m + '%;')
    var yPos = h-($(window).scrollTop() * ((1452 * ($bgobj.width()/800)) - $(window).height() + h + footer) / ($(document).height() - $(window).height()));
    var coords = '100% '+ yPos + 'px';
    $bgobj.css({ backgroundPosition: coords });
    $(window).scroll(function() {
      // вычисляем коэффициент
      //1452 large image version size(height)
      // 800 - large image version size(width)
      //var yPos = h - ($(window).scrollTop() / ($(document).height()/(1452 * ($('.js-big-dress').width()/800) )));
      yPos = h-($(window).scrollTop() * ((1452 * ($bgobj.width()/800)) - $(window).height() + h + footer) / ($(document).height() - $(window).height()));

      // Присваиваем значение background-position
      coords = '100% '+ yPos + 'px';
      // Создаем эффект Parallax Scrolling
      $bgobj.css({ backgroundPosition: coords });
    });
  });
