.header_container
  .header_container_wrapper
    .header_container__shop_link.header_link
      .header_store_image
        = image_tag 'коробка.png'
      .header_store_text
        %a{href:'http://shop.topaza-pella.ru'} ОНЛАЙН-МАГАЗИН
    .header_container__fitting.header_link
      .header_record_image
        = image_tag 'лупа.png'
      .header_record_text
        %a{ href: new_fitting_path } ЗАПИСЬ НА ПРИМЕРКУ
  .header_container__title
    = link_to root_path do
      = image_tag 'logo.png'
  .header_container__menu
    = link_to 'СВАДЕБНЫЕ', bridal_dresses_path, {class: ('current_page_link' if current_page?(bridal_dresses_path))}
    = link_to 'ВЕЧЕРНИЕ', evening_dresses_path, {class: ('current_page_link' if current_page?(evening_dresses_path))}
    = link_to 'ИСТОРИЯ', histories_path, {class: ('current_page_link' if current_page?(histories_path))}
    = link_to 'ПУБЛИКАЦИИ', publications_path, {class: ('current_page_link' if current_page?(publications_path))}
    = link_to 'НЕВЕСТЫ', brides_path, {class: ('current_page_link' if current_page?(brides_path))}
    = link_to 'СКИДКИ', discounts_path, {class: ('current_page_link' if current_page?(discounts_path))}
    = link_to 'КОНТАКТЫ', contacts_path, {class: ('current_page_link' if current_page?(contacts_path))}
