.header_container
  .header_container__shop_link.header_link
    %a ОНЛАЙН-МАГАЗИН
  .header_container__fitting.header_link
    %a ЗАПИСЬ НА ПРИМЕРКУ
  .header_container__title
    TOPAZA PELLA
  .header_container__menu
    = link_to 'СВАДЕБНЫЕ', bridal_dresses_path
    = link_to 'ВЕЧЕРНИЕ', evening_dresses_path
    = link_to 'ИСТОРИЯ', histories_path
    = link_to 'ПУБЛИКАЦИИ', publications_path
    = link_to 'НЕВЕСТЫ', brides_path
    = link_to 'СКИДКИ', discounts_path
    = link_to 'КОНТАКТЫ', contacts_path
