.header_container
  .header_container_wrapper
    .header_container__shop_link.header_link
      .header_store_image
        = image_tag 'коробка.png'
      .header_store_text
        %a ОНЛАЙН-МАГАЗИН
    .header_container__fitting.header_link
      .header_record_image
        = image_tag 'лупа.png'
      .header_record_text
        %a ЗАПИСЬ НА ПРИМЕРКУ
  .header_container__title
    TOPAZA PELLA
  .header_container__menu
    = link_to 'СВАДЕБНЫЕ', bridal_dresses_path
    = link_to 'ВЕЧЕРНИЕ', evening_dresses_path
    = link_to 'ИСТОРИЯ', histories_path
    = link_to 'ПУБЛИКАЦИИ', publications_path
    = link_to 'НЕВЕСТЫ', brides_path
    = link_to 'СКИДКИ', discounts_path
    = link_to 'КОНТАКТЫ', contacts_path
