!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Свадебный салон - Topaza Pella"
    %meta{ name: 'keywords', content: content_for?(:keywords) ? yield(:keywords) : 'Topaza Pella, топаза пелла, свадебные платья, вечерние платья, платья ручной работы' }
    %meta{ name: 'description', content: content_for?(:description) ? yield(:description) : 'Topaza Pella - свадебные платья и вечерние платья ручной работы.' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
%body
  .main_container
    .header
      = render 'layouts/header'
    .main_content
      = yield
    .footer
      = render 'layouts/footer'
    .popup_container
      .popup
        %a.close_popup_button.js_close_popup{href: '#'} X
        .popup_content
          Text in Popup
