!!!
%html
  %head
    %title Topaza
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body
  .main_container
    .header
      = render 'layouts/header'
    .main_content
      = yield
    .footer
      = render 'layouts/footer'
